<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Phaser - Making your first game, part 1</title>
        <link rel="stylesheet" href="stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Press+Start+2P" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
        <script src="javascripts/newapp.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <section id="title">
               <h1>Get Ripped Or Die Trying</h1>
            </section>
            <div id="gamediv"></div>
        <div>    
    </body>
</html>