<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Get Ripped Or Die Trying</title>
        <link rel="stylesheet" href="stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Press+Start+2P" rel="stylesheet">

        <script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
       <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"</script> -->
        <script src="javascripts/ripped.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <section id="title">
               <h1>Get Ripped Or Die Trying</h1>
            </section>
            <hr>
            <section id="button-section">
                 <button id="start" class="buttons">start</button>
            </section>
            <div id="gamediv"></div>
            <hr>
             {{!-- <input type="button" value= "Replay" onclick="history.go(0)" /> --}}
            <section id="story">
                <p>They said it would never happen, but here we are. The year is 2031 and mankind's thirst for a cure to cancer has led to a zombie apocalypse. A horde of elderly zombies have taken over Ronnie's gym, but that won't stop our fearless hero. Your mission: get Ronnie to 100 protein points by collecting milk cartons. Or die trying.</p>
            </section>    
            <hr>
            <section id="controls">
               <p>Controls: Move left with arrow key left -- move right with arrow key right -- move up with arrow key up -- move down with arrow key down</p>
            </section>    
        </div>    
    </body>
</html>