body {
  background-color: #000000;
}
h1 {
  color: #ffffff;
  font-family: 'Bungee Outline', cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -1%;
  margin-bottom: -1%;
  font-size: 330%;
}
p {
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  line-height: 2.5rem;
  width: 100%;
  margin-top: -1.5%;
}
hr {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 79.85%;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.buttons {
  padding: 1.5rem;
  position: relative;
  border: 0.15rem solid #ffffff;
  background-color: #000000;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  color: white;
  margin: 0 auto;
}
#wrapper {
  width: 70%;
  margin: 0 auto;
}
#button-section {
  text-align: center;
}
#title {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#story {
  width: 79.8%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#controls {
  width: 79.8%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#gamediv {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#gamediv canvas {
  margin: 0px auto;
}
