body {
  background-color: #000000;
}
a {
  color: #00B7FF;
}
h1 {
  color: #ffffff;
  font-family: 'Bungee Outline', cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3.4rem;
}
#gamediv {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
#gamediv canvas {
  margin: 0px auto;
}
#title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
#wrapper {
  width: 70%;
  margin: 0 auto;
}
