// less variables
@bungee: 'Bungee Outline', cursive;
@arcade: 'Press Start 2P', cursive;


body {
  background-color: rgba(0,0,0,1);
}

a {
  color: #00B7FF;
}

h1 {
 	color: rgba(255,255,255,1);
 	font-family: @bungee;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 	font-size: 3.4rem;
 }


#gamediv {  
	margin-top: auto;  
	margin-left: auto;  
	margin-right: auto;
}

#gamediv canvas {  
	margin: 0px auto;  
	border: 2px solid rgb(0, 0, 0);
}

#title {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#wrapper {
	width: 70%;
	margin: 0 auto;
}